:root {
  --color-main: #27529C;
  --color-second: #ffffff;
  --color-border: #889CBE;
  --font-main: 'Inter', sans-serif;
  --font-logo: 'Montserrat', sans-serif;
  --border-radius: 15px;
  --border-radius-btn: 30px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  color: var(--color-main);
}

button {
  font-family: inherit;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER */
.header {
  padding: 10px 0 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  z-index: 10;
  background-color: var(--color-second);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo__img {
  width: 63px;
  height: 37px;
}

.logo__title {
  font-family: var(--font-logo);
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 0.07em;
}

.header__list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.05em;

  border: 1px solid transparent;
  border-radius: var(--border-radius-btn);
  transition: background-color 0.3s ease-in-out, border-radius 0.3s ease-in-out;
}

.header__link:hover,
.header__link:focus-visible {
  background-color: #7DAFF240;
  outline: none;
}

.header__link-img {
  width: 30px;
  height: auto;
  aspect-ratio: 1/1;
}

/* MAIN */
/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  padding: 56px 0 100px;
}

.hero__main {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__title {
  font-weight: 600;
  font-size: 55px;
  letter-spacing: 0.03em;
}

.hero__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.65;
  letter-spacing: 0.03em;
}

.btn-group {
  display: flex;
  gap: 24px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 16px;
  color: var(--color-second);
  cursor: pointer;

  background-color: var(--color-main);
  border: 2px solid transparent;
  border-radius: var(--border-radius-btn);
  transition: all 0.3s ease-in-out;
}

.btn__arrow {
  display: inline-block;
  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.btn:hover,
.btn:focus-visible {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  filter: brightness(1.1);
  outline: none;
}

.btn:hover .btn__arrow {
  transform: translateX(4px);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.btn--md {
  padding: 16px 8px;
  font-weight: 600;
}

.hero__btn {
  flex-basis: 180px;
}

.btn--outline {
  background-color: var(--color-second);
  color: var(--color-main);
  border-color: var(--color-main);
}

.btn--outline:hover,
.btn--outline:focus-visible {
  background-color: var(--color-main);
  color: var(--color-second);
  border-color: var(--color-main);
  outline: none;
}

.hero__facts {
  margin-top: 72px;
  display: flex;
  gap: 65px;
}

.hero__fact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  position: relative;
}

.hero__fact+.hero__fact::before {
  content: "";
  position: absolute;
  left: -33.5px;
  top: 50%;
  transform: translateY(-50%);

  width: 2px;
  height: 70px;
  background-color: var(--color-main);
}

.hero__fact-value {
  font-weight: 700;
  font-size: 30px;
}

.hero__fact-label {
  font-weight: 200;
  font-size: 18px;
  text-align: center;
}

.hero__img {
  width: 50%;
  height: auto;
  flex-shrink: 1;
  align-self: flex-start;
}

/* COURSES */
.courses {
  padding: 0 0 100px;
  scroll-margin-top: 85px;
}

.title {
  font-weight: 600;
  font-size: 50px;
  letter-spacing: 0.05em;
}

.courses__title {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.courses__subtitle {
  font-weight: 400;
  font-size: 23px;
  letter-spacing: 0.05em;

  margin: 24px 0 41px;
  text-align: center;
}

.courses__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px 24px;
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 672px;
  height: 100%;

  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-24px);
  box-shadow: 0 40px 60px -15px rgba(0, 0, 0, 0.15);
}

.card__top {
  position: relative;
  line-height: 0;
}

.card__img {
  height: 377px;
  width: 100%;
  object-fit: cover;
  object-position: center 40%;
}

.card__badge {
  position: absolute;
  line-height: 1.2;
  top: 15px;
  right: 15px;
  padding: 8px 24px;

  font-weight: 600;
  font-size: 16px;

  background-color: var(--color-second);
  border-radius: var(--border-radius-btn);
  border: 1px solid var(--color-border);
}

.card__content {
  padding: 24px 40px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card__title {
  font-weight: 600;
  font-size: 23px;
}

.card__subtitle {
  font-weight: 400;
  font-size: 23px;
}

.card__stats {
  display: grid;
  grid-template-columns: auto auto;
  gap: 16px;
  margin-bottom: auto;
}

.card__stat {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-size: 16px;
}

.card__stat-label {
  letter-spacing: 0.05em;
}

.card__stat-value {
  font-weight: 600;
}

.btn-sm {
  font-weight: 400;
  padding: 8px 24px;
}

.card__btn {
  align-self: center;
  width: 236px;
  margin-top: 8px;
}

/* ABOUT */
.about {
  padding: 0 0 100px;
  scroll-margin-top: 85px;
}

.about__title {
  margin-bottom: 48px;
  text-align: center;
}

.about__grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: auto auto;
  gap: 24px;

  grid-template-areas:
    "tall small-1 small-2"
    "tall wide wide";
}

.about__item:nth-child(1) {
  grid-area: tall;
}

.about__item:nth-child(2) {
  grid-area: small-1;
}

.about__item:nth-child(3) {
  grid-area: small-2;
}

.about__item:nth-child(4) {
  grid-area: wide;
}

.fact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px;
  border-radius: var(--border-radius);
  background-color: #7DAFF28C;
}

.fact--wide {
  flex-direction: row-reverse;
  gap: 4px;
  padding: 53px 24px;
}

.fact__img {
  display: block;
  object-fit: contain;
  aspect-ratio: 1/1;
}

.about__item:nth-child(1) .fact__img {
  max-width: 347px;
  width: 100%;
}

.about__item:nth-child(2) .fact__img,
.about__item:nth-child(3) .fact__img {
  max-width: 105px;
  width: 100%;
}

.about__item:nth-child(4) .fact__img {
  max-width: 245px;
  width: 100%;
}

.fact__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.fact__title {
  font-weight: 500;
  font-size: 23px;
  text-align: center;

  display: inline-block;
  padding: 13px 19px;
  border-radius: var(--border-radius);
  background-color: #ffffff;
}

.fact__text {
  font-size: 20px;
  text-align: center;
}

/* FOOTER */
.footer {
  background-color: var(--color-main);
  color: var(--color-second);
  padding: 32px 0;
  scroll-margin-top: 85px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}

.footer__brand {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.logo__title--white {
  color: var(--color-second);
}

.footer__slogan {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 0.07em;
}

.footer__info {
  display: flex;
  justify-content: space-between;
  max-width: 529px;
  width: 100%;
  gap: 16px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-text {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.07em;
}

.footer__contacts-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer__socials {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__socials-list {
  display: flex;
  gap: 6px;
}

.footer__socials-item {
  padding: 5px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.footer__socials-item:hover {
  background-color: #7DAFF2;
}

/* MEDIA QUERIES MAIN */
@media (max-width: 1200px) {
  .hero {
    padding: 28px 0 75px;
  }

  .hero__facts {
    margin-top: 40px;
  }
}

@media (max-width: 992px) {
  .hero__title {
    font-size: 45px;
  }

  .hero__text {
    font-size: 18px;
  }

  .btn {
    font-size: 14px;
  }

  .hero__btn {
    flex-basis: 160px;
  }

  .hero__facts {
    margin-top: 35px;
    gap: 50px;
  }

  .hero__fact+.hero__fact::before {
    left: -26px;
    height: 50px;
  }

  .hero__fact-value {
    font-size: 27px;
  }

  .hero__fact-label {
    font-size: 16px;
  }

  .courses {
    padding: 0 0 50px;
  }

  .title {
    font-size: 40px;
  }

  .courses__subtitle {
    font-size: 21px;
    margin: 24px 0 35px;
  }

  .courses__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .about {
    padding: 0 0 50px;
  }

  .about__title {
    margin-bottom: 24px;
  }

  .about__grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: auto auto auto;
    gap: 24px;
    grid-template-areas: "tall small-1"
      "tall small-2"
      "wide wide";
  }

  .about__item:nth-child(1) .fact__img {
    max-width: 300px;
    width: 100%;
  }

  .about__item:nth-child(2) .fact__img,
  .about__item:nth-child(3) .fact__img {
    max-width: 80px;
    width: 100%;
  }

  .about__item:nth-child(4) .fact__img {
    max-width: 200px;
    width: 100%;
  }

  .fact {
    padding: 16px;
  }

  .fact__title {
    font-size: 20px;
  }

  .fact__text {
    font-size: 16px;
  }

  .footer-text {
    font-size: 14px;
  }
}

@media (max-width: 820px) {
  .header__list {
    gap: 8px;
  }

  .header__link {
    font-size: 14px;
  }

  .hero__title {
    font-size: 40px;
  }

  .hero__text {
    font-size: 16px;
  }

  .courses__subtitle {
    font-size: 18px;
    margin: 20px 0 31px;
  }

  .footer__info {
    justify-content: flex-end;
  }
}

@media (max-width: 768px) {
  .logo__title {
    font-size: 20px;
  }

  .logo__img {
    width: 58px;
    height: 32px;
  }

  .header__link {
    padding: 8px;
  }

  .header__link-label {
    display: none;
  }

  .hero {
    padding: 28px 0 40px;
    position: relative;
    overflow: hidden;
  }

  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background-image: url(img/mobile-hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 30%;
    opacity: 0.5;
    z-index: -1;
  }

  .hero__img {
    display: none;
  }

  .hero__main {
    gap: 16px;
    text-align: center;
  }

  .btn-group {
    justify-content: center;
  }

  .hero__btn {
    flex-basis: 250px;
  }

  .hero__facts {
    margin-top: 20px;
    gap: 50px;
    justify-content: center;
  }
}

@media (max-width: 650px) {
  .title {
    font-size: 35px;
  }

  .courses__subtitle {
    font-size: 16px;
    margin: 15px 0 30px;
  }

  .courses__grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .card__stat {
    font-size: 18px;
  }

  .card__btn {
    font-size: 18px;
    width: 100%;
  }

  .footer__container {
    flex-direction: column;
    gap: 24px;
  }

  .footer__info {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  .logo__title {
    display: none;
  }

  .about__grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: auto auto auto auto;
    gap: 16px;
    grid-template-areas: "tall"
      "small-1"
      "small-2"
      "wide";
  }

  .fact {
    gap: 16px;
  }

  .fact--wide {
    flex-direction: column;
  }

  .about__item:nth-child(1) .fact__img {
    max-width: 250px;
    width: 100%;
  }

  .about__item:nth-child(3) .fact__img {
    max-width: 90px;
    width: 100%;
  }

  .fact__content {
    gap: 16px;
  }

  .fact__text {
    font-size: 18px;
  }

  .footer__socials-list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 6px;
  }
}

/* COURSE PAGE */
/* PROGRAM */
.program {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 24px;
  padding: 56px 0 32px;
}

.program__info {
  flex: 1;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.program__img {
  flex: 0 1 486px;
  width: 100%;
  max-width: 486px;
  min-width: 0;

  aspect-ratio: 486 / 563;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius);
}

.program__link {
  font-weight: 200;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 0.08em;
}

.program__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 7px 0 0;
}

.program__subtitle {
  font-weight: 200;
  font-size: 40px;
  letter-spacing: 0.1em;
}

.program__text {
  font-size: 18px;
  line-height: 25px;
}

.program__btn {
  width: 100%;
}

.program__btn:first-child {
  flex: 0 1 180px;
}

.program__btn:nth-child(2) {
  flex: 0 1 289px;
}

.program__level-label {
  margin: 8px 0;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.03em;
}

.program__levels {
  display: flex;
  gap: 16px;
}

.level {
  font-weight: 700;
  font-size: 18;
  letter-spacing: 0.03em;
  color: var(--color-second);

  padding: 17px;
  background-color: var(--color-main);
  border-radius: 50%;
}

/* DETAILS */
.details {
  display: flex;
  justify-content: center;
  gap: 9px;
  padding: 0 0 100px;
  flex-wrap: wrap;
}

.offer {
  flex: 0 1 384px;
  padding: 42px 32px 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: flex-end;

  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
}

.offer__img {
  width: 60px;
  aspect-ratio: 1/1;
}

.offer__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.offer__title {
  font-weight: 600;
  font-size: 23px;
}

.offer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  font-size: 16px;
  letter-spacing: 0.05em;
}

.offer__accent {
  font-weight: 700;
}

/* MEDIA QUERIES COURSE */
@media (max-width: 1200px) {
  .program__info {
    gap: 8px;
  }

  .program__header {
    margin: 0;
  }
}

@media (max-width: 992px) {
  .program {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .program__img {
    flex: none;
    max-width: none;
    aspect-ratio: auto;
    height: 200px;
    object-position: center 80%;
  }
}

@media (max-width: 480px) {
  .program {
    padding: 28px 0 40px;
  }

  .program__info {
    min-width: 100%;
  }

  .program__buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .program__btn:first-child {
    flex: none;
    width: 100%;
  }

  .program__btn:nth-child(2) {
    flex: none;
    width: 100%;
  }

  .program__levels {
    gap: 8px;
    flex-wrap: wrap;
  }
}

/* TEST */
/* START */
.start {
  display: flex;
  justify-content: center;
}

.test-layout {
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);

  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 792px;

  margin: 20px 0 50px;
}

.start__content {
  gap: 16px;
  padding: 56px 15px;
}

.start__title {
  font-weight: 600;
  font-size: 23px;
  letter-spacing: 0.07em;
  text-align: center;
}

.start__text {
  max-width: 588px;
  font-size: 16px;
  text-align: center;
}

.start__list {
  max-width: 588px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 19px;
}

.btn--max {
  padding: 25px 0;
  font-weight: 600;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.start__btn {
  width: 100%;
}

/* QUIZ */
.quiz {
  display: flex;
  justify-content: center;
}

.quiz__content {
  gap: 32px;
  padding: 35px 15px;
}

.quiz__header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 588px;
  width: 100%;
}

.quiz__label {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: var(--color-main);
}

.quiz__counter {
  color: #7C8CA8;
}

.progress {
  width: 100%;
  height: 8px;
  background-color: #889CBE4D;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.progress__line {
  height: 100%;
  background-color: var(--color-main);
  transition: width 0.4s ease-in-out;
}

.test-title {
  max-width: 588px;
  width: 100%;
  font-size: 23px;
  font-weight: 500;
}

.quiz__question {
  margin-top: 8px;
}

.quiz__form {
  max-width: 588px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.quiz__options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.quiz__answer {
  padding: 15px 24px;
  border: 2px solid var(--color-border);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.quiz__input {
  display: none;
}

.quiz__answer:hover {
  background-color: #f8faff;
}

.quiz__answer:has(.quiz__input:checked) {
  background-color: #7DAFF233;
  border-color: #7DAFF2;
  box-shadow: 0 2px 8px rgba(43, 82, 151, 0.1);
}

.quiz__answer:has(.quiz__input:checked) .quiz__answer-text {
  color: var(--color-main);
  font-weight: 500;
}

.quiz__footer {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-bottom: 19px;
}

.btn--lg {
  padding: 14px 0;
  font-size: 14px;
  font-weight: 600;
  border-radius: 10px;
}

.quiz__btn {
  width: 50%;
  text-align: center;
}

.quiz__btn:nth-child(2):disabled {
  background-color: #889CBE70;
  color: #515E73;
  cursor: not-allowed;
}

/* RESULT */
.result {
  display: flex;
  justify-content: center;
}

.result__content {
  gap: 24px;
  padding: 56px 15px;
}

.result__title {
  text-align: center;
}

.result__outcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.result__proficiency {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  flex: 0 1 132px;
  padding: 0 23px;

  background-color: #7DAFF233;
  border-radius: var(--border-radius);
}

.result__value {
  font-size: 23px;
  font-weight: 500;
}

.result-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 588px;
}

.result-info__header {
  font-weight: 600;
  font-size: 18px;
}

.result-info__desc {
  line-height: 25px;
}

.result__btns {
  margin-top: 8px;
  max-width: 588px;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  gap: 16px;
  grid-template-areas:
    "back again"
    "contact contact";
}

.result__btn:nth-child(1) {
  grid-area: back;
}
  
.result__btn:nth-child(2) {
  grid-area: again;
}

.result__btn:nth-child(3) {
  grid-area: contact;
}

.btn--light {
  background-color: #7DAFF2;
  color: var(--color-second);
}

/* MEDIA QUERIES TEST */
@media (max-width: 480px) {
  .start__list {
    grid-template-columns: repeat(1, 1fr);
  }

  .quiz__footer {
    flex-direction: column-reverse;
    gap: 16px;
  }

  .quiz__btn {
    width: 100%;
  }

  .result__btns {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto auto auto;
  gap: 16px;
  grid-template-areas:
    "back"
    "again"
    "contact";
}
}